.dz-message-text {
    text-align: center;
}
.file-over.dropzone-multiple .dz-message {
    border-color: blue !important;
}

.btn.drop >  svg {
    color: #cbd0dd !important
}

.btn.drop >  svg:hover {
    color: inherit !important
}