<div class="search-box navbar-top-search-box d-lg-block">
    <div class="position-relative {{isActive ? 'show' : ''}}" data-bs-toggle="search" data-bs-display="static"
        aria-expanded="true">
        <input  (keyup.enter)="onActive($event)"
                (keyup)="writeValue(keyword)"
                [(ngModel)]="keyword"

                class="form-control search-input fuzzy-search rounded-pill form-control-sm"
            type="search" [placeholder]="placeHolder">
        <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
                d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z">
            </path>
        </svg>
    </div>
    <div *ngIf="close && isActive" id="btn-close-search-input"
         (click)="onInactive()"
        class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none"  >
        <button  class="btn btn-link btn-close-falcon p-0"></button>
    </div>
    <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100 {{isActive ? 'show' : ''}}">
        <div class="scrollbar-overlay" style="max-height: 15rem;" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: 0px;">

                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" tabindex="0" role="region"
                            aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px;">
                                <ng-content selector="[search-item-list]">

                                </ng-content>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
