
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h4>{{data.title}}</h4>
    </div>
    <div class="mat-message">
        <p>{{data.message}}</p>
    </div>
    <mat-dialog-actions>
        <div class="mat-option-container {{data.buttons.length <= 1 ? 'has-just-one-button' : ''}}">
            <button  *ngFor="let button of data.buttons"
                        class="btn btn-{{getClass(button)}}"
                        [id]="button.id"
                        (click)="onClick(button.value)"
                        type="button">
                        {{button.label}}
            </button>
        </div>
        
    </mat-dialog-actions>
</mat-dialog-content>
