<app-screen-loader *ngIf="isLoadingRevoke"></app-screen-loader>
<div *ngIf="isEnabledUserSettings" class="navbar-background" (click)="onNavbarBackground()"></div>
<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarTop">
  <div class="navbar-logo">
    <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse"
            aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
      class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center"><img src="/assets/images/logo.png" alt="phoenix" width="27">
          <p class="logo-text ms-2 d-none d-sm-block">{{appConfig.app()}}</p>
        </div>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center"
       id="navbarTopCollapse">
    <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle lh-1"
                                       href="#"
                                       role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                       aria-haspopup="true" aria-expanded="false">Inicio</a>
      </li>
      <ng-container *ngIf="(authUserConfig$ | async) as config">
        <ng-container *ngFor="let permission of getMenuPermissions(config.permissions)">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle lh-1"
               [routerLink]="getRouteLink(permission.route)"
               role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
               aria-haspopup="true" aria-expanded="false">{{permission.name}}</a>
          </li>
        </ng-container>

      </ng-container>

    </ul>
  </div>
  <ul class="navbar-nav navbar-nav-icons flex-row">
    <li class="nav-item">
      <div class="theme-control-toggle fa-icon-wait px-2"><input
        class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme"
        value="dark" id="themeControlToggle"><label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                                                    for="themeControlToggle" data-bs-toggle="tooltip"
                                                    data-bs-placement="left" aria-label="Switch theme"
                                                    data-bs-original-title="Switch theme">
        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-moon icon">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle"
                     data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Switch theme"
                     data-bs-original-title="Switch theme">
        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-sun icon">
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </label></div>
    </li>

    <li class="nav-item dropdown">
      <button (click)="onUserSettingClick()"  class="nav-link lh-1 pe-0">
        <div class="avatar avatar-l ">
          <img class="rounded-circle " src="/assets/images/logo.png" alt="">
        </div>
      </button>




      <div *ngIf="isEnabledUserSettings" class="dropdown-menu drop-down-visible dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300"
           aria-labelledby="navbarDropdownUser">
        <div class="card position-relative border-0">
          <div class="card-body p-0">
            <div class="text-center pt-4 pb-3">
              <div class="avatar avatar-xl ">
                <img class="rounded-circle " src="/assets/images/logo.png" alt="">
              </div>
              <h6 class="mt-2 text-black">{{(authUserConfig$ | async)?.user?.name }}</h6>
              <h6 style="color: #636b6b !important;" class="mt-2 text-black g-1 ">{{(authUserConfig$ | async)?.grant?.name }}</h6>
            </div>
          </div>
          <div class="overflow-auto scrollbar" style="height: 10rem;">
            <ul class="nav d-flex flex-column mb-2 pb-1">
              <li class="nav-item"><a class="nav-link px-3"
                                      href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-user me-2 text-900">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <span>Mi cuenta</span></a></li>
              <li class="nav-item"><a class="nav-link px-3"
                                      href="https://prium.github.io/phoenix/v1.13.0/index.html?theme-control=true&amp;navigation-type=horizontal#!">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-settings me-2 text-900">
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                </svg>
                Configuraciones y privacidad</a></li>
              <li class="nav-item"><a class="nav-link px-3"
                                      href="https://prium.github.io/phoenix/v1.13.0/index.html?theme-control=true&amp;navigation-type=horizontal#!">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-help-circle me-2 text-900">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                  <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
                Centro de ayuda</a></li>

            </ul>
          </div>
          <div class="card-footer p-0 border-top">
            <div class="px-3">
              <button style="background: transparent" (click)="onCloseSession()"  class="btn btn-phoenix-secondary d-flex flex-center w-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-log-out me-2">
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="16 17 21 12 16 7"></polyline>
                  <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                Cerrar sesión
              </button>

            </div>
            <div class="my-2 text-center fw-bold fs--2 text-600">
              <a class="text-600 me-1"
                                                                    href="https://prium.github.io/phoenix/v1.13.0/index.html?theme-control=true&amp;navigation-type=horizontal#!">Privacy
              policy</a>•<a class="text-600 mx-1"
                            href="https://prium.github.io/phoenix/v1.13.0/index.html?theme-control=true&amp;navigation-type=horizontal#!">Terms</a>•<a
              class="text-600 ms-1"
              href="https://prium.github.io/phoenix/v1.13.0/index.html?theme-control=true&amp;navigation-type=horizontal#!">Cookies</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>

